.topbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f0c2f2;
}

.navMenu {
  display: flex;
  list-style-type: none;
}

.menuItem {
  margin: 0 6px;
}

.logo {
  height: 36px;
}

.cart {
  height: 36px;
}
